---
import { Image } from "astro:assets";
import { home, menu } from "../../content/content.json";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import Title from "../components/atoms/Title.astro";
import homeImage from "../images/home.jpeg";
import Layout from "../layouts/Layout.astro";

const menuItems = Object.values(menu).map(({ text, to }) => ({
  text,
  to,
}));
---

<Layout title={home.title}>
  <main class="flex flex-col justify-center">
    <Title
      level={1}
      text={home.title}
      classes="mt-4 text-center text-gray-700"
    />
    <Menu menuItems={menuItems} />
    <Image src={homeImage} alt={home.title} class="mt-28 rounded-xl mx-auto" />
    <p class="text-gray-700 p-8 rounded-xl">
      {home.description}
    </p>
    <ul role="list" class="grid grid-cols-3 gap-4">
      <Card body={home.inscriptionTouteAnnee} />
      <Card body={home.pretKimono} />
      <Card body={home.profEtat} />
    </ul>
  </main>
</Layout>
