---
import Card from "../components/Card.astro";
import Title from "../components/atoms/Title.astro";
import Layout from "../layouts/Layout.astro";
import { home } from "../texts/content.json";

interface Props {
  title: string;
  description: string;
  pageTitle: string;
  imagePath?: string;
}

const { title, description, pageTitle, imagePath } = Astro.props;

const seo = {
  title,
  description,
};
---

<Layout title={pageTitle} seo={seo}>
  <Title level={1} text={pageTitle} classes="my-6 text-center text-gray-700" />
  {
    imagePath && (
      <img src={imagePath} alt={pageTitle} class="mt-8 rounded-xl mx-auto" />
    )
  }

  <div
    class={`prose lg:prose-xl text-gray-700 p-8 rounded-xl ${
      !imagePath ? "mt-8" : ""
    }`}
  >
    <slot />
  </div>
  <ul role="list" class="grid grid-cols-3 gap-4">
    <Card body={home.inscriptionTouteAnnee} />
    <Card body={home.pretKimono} />
    <Card body={home.profEtat} />
  </ul>
</Layout>
